  *{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	padding:0 20px;
	font-family: "lato", sans-serif;
	line-height: 1.6em;
}
#navbar{
	overflow: hidden;
	
}
#navbar a{
color: white;
text-decoration: none;
}
#navbar h4{
	float: left;
	padding-top: 20px;
	background-color:orangered;
	/* position: fixed; */
	margin-top: -30px;
	font-size: 30px;
	padding: 10px;
	margin-left: 30px;
	
}
#navbar ul{
	list-style: none;
	float: right;
	background-color:orangered;
	/* position: fixed; */
	margin-top: -30px;
	margin-right: 30px;
}
#navbar ul li{
	float: left;
}
#navbar ul li a{
	display: block;
	padding: 20px;
	text-align: center;
}
#navbar ul li a:hover{
background-color: blue;	
}


#navbar{
	background-image: 
	linear-gradient(to bottom, rgba(73, 90,189,0.52),
		#171796bd),
	url(images/team1.jpeg);
	
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 70px;
	background-position: top;
	height: 95vh;
}

.inner-item{
	text-align: center;
	padding: 20px;
	margin-top: 20%;
	margin-bottom: -20px;
}
.inner-item > button{
background-color: orangered;
padding: 10px; 
margin-block-start: 2%;
color: white; 
border: 1px solid orangered;
border-radius: 0.5rem;
}
.inner-item > button:hover{
	background-color: #1571f1e1;
}
.banner h2{
	text-align: center;
	color: white;
	
	margin-top: 0;
	margin-block-start:20px;

}
.banner p{
	color: white;
}

.img-container1{
	display: flex;
	margin-block-start: 30px;
	position: absolute;
	margin-block-end: 5%;
}

.text1{
	margin-inline-start: 13%;
	left: 5px;
	display: block;
}
.text1 button{
	background-color: blue; 
	color: white; 
	padding: 10px;
	 margin-block-start: 15px;
	 border: 1px solid blue;
	 border-radius: 0.5rem;
}
.text1 button:hover{
color: orangered;
}
.img1{
	background-image:
	linear-gradient(to bottom, rgba(73, 90,189,0.52),
		#171796bd),
	 url("images/team1.jpeg");
	margin-inline-end:0%;
	background-repeat: no-repeat;
	margin-left: 2%;
	position: relative;
}
.img1 h2{
	padding: 15px;
	background-color: orangered;
	position: absolute;
	top: 0;
	right: 0;
	color: white;
}
.img1 h5{
	line-height: 1.2rem;
	background-color: rgba(32, 57, 206, 0.52);
	margin-top: 15rem;
padding: 1rem;
color: #fff;
}
.img2 {
	margin-inline-start:10px;
	background-image:
	linear-gradient(to bottom, rgba(73, 90,189,0.52),
		#171796bd),
	 url("images/team2.jpeg");
	background-repeat: no-repeat;

}
/*
.img1 h5{
	color: white;
	margin-block-start: 50%;
	text-align: block;
	text-decoration: none;
	list-style: none;
	margin-inline-start:5%;
	position: relative; bottom: -60px;
}*/
.img2 h5{
	line-height: 1.2rem;
	background-color: rgba(32, 57, 206, 0.52);
	margin-top: 15rem;
padding: 1rem;
color: #fff;
}
.container1-text1 a{
	color: white;
	text-decoration:none;
	
}
.container1-text1 a:hover{
	background-color:#fff;
	text-decoration-color: #000;
	-moz-text-decoration-color:;
}

.img2 a{
	color: white
}
.point1{
	position: absolute;
	right: 0px;
	top: 0;
	text-decoration-style: none;
	-moz-text-decoration-style:;
}
.banner2{
	background-color: blue;
	margin-block-start:32rem;
	display: flex;
	height: 450px;
	position: relative;

}
.ban2-img{
	background-image: url(images/new-bg.jpeg);
    background-repeat: no-repeat;
    height: 70vh;
    margin-inline-start: 10rem;
	position: absolute;
	margin-top: -2rem;
   
}
.ban2-img-text{
background-color: orangered;
color: white;
margin-top:400px;
}

.bantex{
	color: white;
	position: absolute;
	right: 20rem;
	top: 80px;
}
.arrow-left2{
	background-color:orangered;
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
font-size: 40px;
	padding: 15px;
	text-align: center;
}
/*
.banb {
	border: 0
	padding:5px;
margin-block-start:5px;
}*/
.bantex button{
	 background-color: orangered;
	 color: white	;
	 padding: 10px;
	 border: 1px solid orangered;
	 border-radius: 0.5rem;
	 -webkit-border-radius: 0.5rem;
	 -moz-border-radius: 0.5rem;
	 -ms-border-radius: 0.5rem;
	 -o-border-radius: 0.5rem;
}
.bantex button:hover{
	background-color: blue;
}
.middle-text{
	margin-block-start: 1px;
	text-align: justify;
}
.services{
	margin-top: 3rem;
}
.container2{
	display: grid;
	grid-gap: 0;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	margin: auto;
	margin-block-start: 1rem;
	text-align: justify;
	width: 100%;
}
.container2 p{
	padding-inline-end:5px;
	font-size: 12px;
	font-family: unset;
}
.content i{
	color: blue;
}

.content{
	padding: 1rem;
	margin: 1rem;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2); 
}
.content:hover{
	border-bottom: 2px solid orangered;
}
/*
.content-1{
	padding: 1rem;
	border: 2px solid #00000014;
	margin-right: 1rem;

}
.content-2{
	padding: 1rem;
	border: 2px solid #00000014;
	margin-right: 1rem;
}
.content-3{
	padding: 1rem;
	border: 2px solid #00000014;
	margin-right: 1rem;
	margin-top: 1rem;
}
.content-4{
	padding: 1rem;
	border: 2px solid #00000014;
	margin-right: 1rem;
	margin-top: 1rem;

}
.content-5{
	padding: 1rem;
	border: 2px solid #00000014;
	margin-right: 1rem;
	margin-top: 1rem;

}*/


.container3{
	background-color: rgb(232, 230, 230, 0.22);
	position: relative;
	justify-content: center;
	height: 65vh;
	margin-block-start:-12rem;
}
.sub-container1 h5{
display: block;
}
.sec-1{
	display: grid;
	grid-gap: 0;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 1rem;
	margin: 1rem;
}

.best-head{
	margin-inline-start: 22rem;	
}
.para1{
	margin-inline-start: 20rem;
}
.para2{
	margin-inline-start: -2rem;
}
.para3{
	margin-inline-start: 20rem;
}
.para4{
	margin-inline-start: -2rem;
}
.img-1{
	position: absolute;
	top: 0;
	right: 0;

}
.container4{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3rem;
}
.sub1{
	margin-inline-start: 15rem;
}
/*
.sub2 a:hover{
background-color: rgb(253, 14, 46);
}
*/
.main-2{
	background-color: #2f2f94a8;
}
.googlePlay{
	display: flex;
	text-decoration: none;
	height: 7vh;
	width: 9rem;
	text-align: center;
	background-color: orangered;
	border: 1px;
	color: white;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}
.googlePlay:hover{
	background-color: rgb(233, 7, 7);
}
.AppleStore:hover{
	background-color: rgb(15, 83, 172);
}
.googlePlay>i{
	margin-left: 1rem;
	margin-top: .4rem;
}
.AppleStore>i{
	margin-left: 1rem;
	margin-top: .4rem;
}
.googlePlay>h5{
	margin-left: 0.5rem;
}
.AppleStore>h5{
	margin-left: 0.5rem;
}
.AppleStore{
	display: flex;
	text-decoration: none;
	height: 7vh;
	width: 9rem;
	text-align: center;
	background-color: blue;
	border: 1px;
	color: white;
	margin-left: 1.1rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}
.button-care{
	display: flex;
	margin-top: 1.5rem;
}
.main2>button{
	background-color: orangered; 
	margin-top: 20px; 
	padding: 10px; 
	border: 1px solid orange;
}
.case-studies{
	padding: 5rem;
	margin-top: -2rem;
}
.case-head{
	text-align: center;
}
.sub-casestudies{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 0;
height: 45vh;
}

.main-case1{
	margin-left: 5rem;
	background-color: rgb(232, 230, 230, 0.22);
	padding: 2rem;

}
.main-case2{
	background-image:
	linear-gradient(to bottom, rgba(73, 90,189,0.52),
		#171796bd),
	 url("images/5team.jpeg");
	 background-repeat: no-repeat;
	max-width: 17rem;
	color: #fff;
	padding: 2rem;
    margin-inline-start: 3rem;
}
.case-btn{
    background-color: orangered;
    color: white;
    padding: 10px;
    border: 1px solid orangered;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.case2-text{
	text-align: center;
	margin-top: 5rem;
}
.case-btn:hover{
	background-color: blue;
}
.main-case3{
	margin-left: -5rem;
	background-color: rgb(232, 230, 230, 0.22);
	padding: 2rem;
	margin-right: 9rem;
}
.form ul.list{
list-style: none;
text-align: center;	
}

.form ul.list li{
	width: 250px;
	margin-bottom: 15px;

}
.form {
	background-color: blue;
	padding-top: 80px;
	height: 50vh;
	padding: 50px 30px;
	width: 250px;
	position: relative;
	top: -30px;
}
.form h3 {
	background-color: orangered;
	position: absolute;
	left: 0;
	top: 15px;
}
.form li{
	list-style: none;
    margin-top: 20px;

}
.form li>select{
	width: 12rem;
	height: 5vh;
	background-color: dodgerblue;
    border: 1px solid dodgerblue;

}
.form li>select:hover{
	background-color: #fff;
}
.form li>input{
	height: 5vh;
	width: 12rem;
	background-color: dodgerblue;
    border: 1px solid dodgerblue;
}
.form li>input:hover{
	background-color: #fff;
}
.submit-button{
	background-color: orangered;
	color: white;
	border: 1px solid orangered;
	width: 12rem;
	height: 5vh;
}

.submit-button:hover{
	background-color: black;
	border: 1px solid black;
}

.card-list{
	display: grid;
	grid-gap: 0;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.card-section{
	background-image:
	linear-gradient(to bottom, rgba(56, 72, 162, 0.84),   rgba(27, 46, 158, 0.85)),
	 url(images/5team.jpeg);
	display: flex;
	margin-top: 1rem;
}
.card1{
	background-color: orangered;
	padding: 20px;
	margin-left: 150px;
}
.card2{
	background-color: blue;
	padding: 20px;
	margin-left: 20px;
	margin-right: 120px;
}
.card3{
	background-color: blue;
	padding: 20px;
	margin-left: 150px;
	margin-top: 20px;
}
.card4{
	background-color: blue;
	padding: 20px;
	margin-left: 20px;
	margin-right: 120px;
	margin-top: 20px;
}

.testimonials{
	margin-top: 6rem;
	margin-left: 50px;
	
}
.test-head{
	text-align: center;
	margin-top: 30px;
}

.test-body{
	display: flex;
	margin-left: 15rem;
	padding: 2rem;
}

.test-article{
	display: block;
	padding: 20px;
}
.main-article>h2{
	color: orangered;
	font-size: 5rem;
	margin-left: 18rem;
    position: absolute;
    top: 1.5rem;
}
.arrow{
	display: flex;
	color: white;
}
.main-article{
	position: relative;
}
.main-article h4{
	color: blue;
}
.arrow h4{
	padding: 15px;
	background-color: orangered;
	color: #fff;
}
.arrow p{
	padding: 15px;
	background-color: blue;
	margin-left: 10px;
}
.inside-article{
	border-top: 1px solid black;
}

.blog {
	
	padding: 50px;

}
.blog-head{
	text-align: center;
}
.main-blog{
	display: flex;
	padding: 20px;
	margin-left: 15rem;
}
.main-blog span{
	color: orangered;
}
.blog-img-part{
	margin: 1rem;
	padding: 1rem;
	margin-top: -0.5rem;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0);
}

.blog-article{
	margin-left: -2rem;

}
.blog-art1 {
	padding: 1rem;
	margin: 1rem;
	background-color: #b9b8b82e;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
}

.blog-art-1 span {
	color: blue;
}
.blog-art2{
	background-color:#b9b8b82e;
	padding: 1rem;
	margin: 1rem;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
}
.blog-art1:hover{
	background-color: orangered;
}
.blog-art2:hover{
	background-color: orangered;
}
.blog-art3:hover{
	background-color: orangered;
}
.blog-art3 {
	background-color: #b9b8b82e;
	padding: 1rem;
	margin: 1rem;
	box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
}
.banb{
	background-color: orangered;
	color: white;
	padding: 10px;
	border: 1px solid orangered;
	border-radius:.5rem;
	-webkit-border-radius:.5rem;
	-moz-border-radius:.5rem;
	-ms-border-radius:.5rem;
	-o-border-radius:.5rem;
}
.banb:hover{
	background-color: rgb(255, 8, 0);
}
.blog-art3 h4 {
	color: blue;
}
.blog-art2 h4 {
	text-shadow: blue;
}

.footer {
	
}
.footer-hearder{
	text-align: center;
	background-color: #b9b8b82e;
	height: 9vh;
 
}
.footer-hearder img{
	padding: 1rem;
}

.main-footer{
	width: 83%;
    margin: auto;
	display: flex;
	margin-top: 2rem;
}
.footer-1{
	padding: 20px;
}
.footer-1 h3{
	width: 75px;
	border-bottom: 2px solid blue;
	color: blue;
}
.footer-2{
	padding: 20px;
}
.footer-3{
	padding: 20px;
}
.footerForm button{
	height: 6vh;
    width: 3rem;
    margin-left: -1rem;
    background-color: orangered;
    border: 1px solid orangered;
    color: white;
}
.footform{
	width: 15rem;
	height: 6vh;
	background-color: #80808021;
	border: 1px solid #80808021;

}
.foot-footer{
	background-color:grey;
}
.foot-footer h6{
	float: left;
	padding-left: 8.9rem;
}
.foot-footer ul{
	list-style: none;
	float: right;
	padding-right: 15rem;
}
.foot-footer ul li{
	float: left;
}
.foot-footer ul li a{
	display: block;
	padding: 0.5rem;
}
.foot-footer ul li .fa-facebook{
	color: orangered;
}
.foot-icon i{
	color: blue;
	text-decoration: none;
	list-style: none;
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #navbar ul li a{
  	display: none;
  }
  .inner-item{
	  padding: 0;
  }
  .banner2{
	  background-color: #fff;

  }


  .container2{
	  display: block;
	  width: 100%;
	  height: auto;
	  margin: auto;
	  padding-block-end: 2rem;
	  margin-left: 3rem;
	  margin-right: 3rem;
	  
  }
  .content{
	  padding: 0;
  }
  .container3{
	  margin-left: 1px;
	  position: initial;
	  margin-top: -5%;
  }
  .best-head{
	  text-align: center;
	  width: 80%;
	  margin-left: 3.5rem;
  }
  .sec-1{
	  height: auto;
	  margin-left: 0;
	  display: none;
  }
  .img{
	margin-block-start: 12rem;
  }
  .img-1{
position: inherit;	
  }
  .container4{
	  margin-top: 12rem;
	  display: block;
  }
  .sub1{
	  margin-left: 0;
  }

  .sub2{
	  text-align: center;
  }
  .button-care{
	  text-align: center;
	  margin-left: 3rem;
  }
  .sub-casestudies{
	  display: block;
  }
  .main-case1{
	width: 340px;
    margin-inline-start: -3rem;
    margin-block-start: 1rem;
  }
  .main-case2{
	width: 200%;
	  margin-left: 0;
	      margin-block-start: 1rem;  
  
  }
  .main-case3{
	width: 340px;
    margin-inline-start: -3rem;
    margin-block-start: 1rem;  
  }
  .card-section{
	  display: block;
	  background-repeat: no-repeat;
	  margin-top: 42rem;
  }
  .card-list{
	  margin-left: -4rem;
  }
  .arrow-left2{
	  display: none;
  }
.form{
	top: 2px;
	left: 5rem;
	height: 80vh;
	margin-top: 1rem;
}
.test-body{
	display: block;
}
.test-img{
	text-align-last: center;
}
.test-article{
	margin-left: 5rem;
}
.main-blog{
	margin-left: -5rem;
	display: block;
}
.blog-article{
	margin-left: 10px;
}
.main-footer{
display: block;
}
.footer-hearder{
	background-color: #b9b8b82e;
	height: 6vh;
	width: 150%;
	margin-left: -5rem;
 
}
.footer-hearder img{
	padding: 0;
}
  .abc{
  	float: right;
  	margin-left: auto;
  }

 .btn1{
 	margin-top: 20px;

 }

 .banner2{
 	width: 90%;
 }
 .bantex{
 	display: none;
 }
 .ban2-img{
	 height: auto;
	 margin-left: 3rem;
 }

  
  .img-container1{
  	
  }
  .container3{
  	margin-top:2%;

  }
  .container1-text1{
  	display: none;
  }
  .text1 h3{

  }
  .test-body{
	  margin-left: -7rem;
  }
  /*
  .img-1{
  	width: 50px;
  	display: none;
  }*/
  .foot-footer>img{
  	display: none;
  }
}

/*
.container4{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .cont-container{
	display: flex;
	margin-inline-start:100px;
}
.sub2 {
	margin-inline-start:55px;
	padding-top: 8px;
	display: block;

}

.sub2 p{
	margin-top:8px;
}

.sub2 h3{
	margin-top: 8px;

}

.button-img{
	margin-top: 20px;
}

.cont-container2{
	margin-inline-start:80px;

}
.top-line{
	text-align: center;
	margin-left: -120px;
	margin-top: 30px;
}

.sub-cont-container{
	display: flex;
	margin-top: 20px;
	margin-left: 80px;
}
.main1{
	background-color: #cccac71a;
    margin: 10px;
}
.main2{
	background-color: blue;
	color: white;
	margin-top: 10px;
	text-align: center;

	
}
.main3 {
	background-color: #cccac71a;
    margin: 10px;
	
}
.cont-container2 h3{
	margin-top:8px;

}

.cont-container2 p{
	margin-top:8px;

}
.main2{
	position: relative;
}
.inside-main{
	margin-top: 80px;
}





/*mobile view..*/
@media screen and (max-width: 620px) 
}	
